.Nosotros-2 {
  text-align: center;
  .flex-conteiner {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .flex-item img {
    width: 600px;
    height: 350px;
  }
  .Nosotros-1 {
    text-align: center;
  }
}
