.Servicios-1 {
  text-align: center;
  .Flex-Servicios {
    display: flex;
    gap: 100px;
    justify-content: center;
  }
  .Flex-iservicios img {
    width: 600px;
    height: 350px;
  }
  .Flex-g1 {
    display: flex;
    gap: 150px;
    justify-content: center;
  }
  .g2 {
    width: 300px;
  }
}
